*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body{
    width: 100%;
  }
  
  .imgDiv{
    position: absolute;
    z-index: -1;
  }
  
  .imgDiv img{
    width: 100%;
    display: block;
  }
  
  .header{
    width: 100%;
  }
  
  .headerTopDiv{
    width: 100%;
    height: 3.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #212121;
  }
  
  .socialIconDiv{
    width: 13.75rem;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 1.8125rem;
    gap: .3125rem; 
  }
  
  .circleIcon{
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    background-color: #303030;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .phoneIconDiv{
    width: 33.875rem;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .phoneIconDiv p{
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    letter-spacing: .0625rem;
  }
  
  .phoneIconDiv .callBtn {
    margin-left: .625rem;
    padding: .375rem .5rem;
    border-radius: .125rem;
    border: none;
    outline: none;
    background-color: #a2d84c;
    font-size: .75rem;
    font-weight: 600;
  }
  
  .navBar {
    width: 100%;
    height: 5.3125rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
  }
 
  .navBar img {
    margin-left: 2.125rem;
    width: 9.3125rem;
  }
  
  .navList {
    height: 100%;
    width: 54.1875rem;
    display: flex;
    align-items: center;
    gap: 1.375rem;
  }
 
  .navList li{
    list-style: none;
  }
  
  .navList li a{
    font-size: 1.0625rem;
    font-weight: 600;
    text-decoration: none;
    color: black;
  }
  .navList li a:hover{
    color: #ff831e;
  }
  
  .sliderImgDiv {
    width: 100%;
    height: 32.75rem;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    position: relative;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  
  .img_content {
    width: 100%;
    height: 15.5rem;
    position: absolute;
    top: 10.1875rem;
    left: 0;
  }
  
  .img_contentTopDiv{
    display: flex;
    justify-content: space-between;
  }
  
  
  .leftDiv {
    width: 21.6875rem;
    height: 4.5625rem;
    background-color: #a2d84c;
  }
  
  .rightDiv{
    width: 21.6875rem;
    height: 4.5625rem;
    background-color: #a2d84c;
  }
    .img_content h1 {
    font-size: 3.875rem;
    color: white;
  }
  
  .img_contentBottomDiv {
    width: 100%;
    height: 8.8125rem;
    margin-top: 1.6875rem;
     text-align: center;
  }
  
  .img_contentBottomDiv  pre{
    font-size: 1.3125rem;
    color: white;
  }
  
  .buttonDiv button {
    margin-top: 2.5rem;
    font-size: 1.125rem;
    padding: .75rem 2.5625rem;
    border: none;
    outline: none;
    background-color: #febd19;
    font-weight: 600;
    border-radius: .375rem;
  }
  
  .advantageDiv {
    width: 100%;
    height: 30.5625rem;
    background-color: white;
    padding-right: 2.5rem;
  }
  
  .adv_top {
    width: 100%;
    height: 8.125rem;
    text-align: center;
  }
  
  .adv_top h1 {
    font-size: 2.875rem;
    margin-top: 2rem;
    color: #668e19;
  }
  
  .sp1{
    color: black;
  }
  
  .advantageDiv pre {
    margin-top: .5625rem;
    font-size: 1.0625rem;
    color: #c4c2c2;
  }
  
  .bottomIcons {
    width: 100%;
    height: 16.4375rem;
    margin-top: .5625rem;
    padding-left: 3.625rem;
    display: flex;
    gap: 2.25rem;
  }
  
  .iconsDiv {
    height: 100%;
    width: 13.4375rem;
    text-align: center;
    margin-left: 2.5rem;
  }
  
  .roundDiv {
    width: 10.625rem;
    height: 10.625rem;
    border-radius: 50%;
    background-color: #f2f2f2;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:hover{
      box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, 0.2);
    }
  }
  
  .iconH1 {
    font-size: 1.125rem;
    margin-top: .9375rem;
    font-weight: 600;
  }
  
  .iconsDiv p {
    margin-top: .1875rem;
    font-size: .875rem;
    font-weight: 600;
    color: #cbc7c7;
  }
  
  .aboutUs_Div {
    width: 100%;
    height: 29.25rem;
    background-image: url('./pics/about.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .aboutUs_Div h1{
    color: #668e19;
    font-size: 2.75rem;
    font-weight: 600;
    margin-top: .0625rem;
  }
  
  .aboutUs_Div .paraDiv {
    margin-top: 2rem;
    margin-left: 5.0625rem;
    width: 32.375rem;
    height: 14.5625rem;
  }
  
  .aboutUs_Div .paraDiv p {
    color: black;
    font-size: .875rem;
    font-weight: 600;
    margin-bottom: .4375rem;
  }
  
  .aboutUs_Div .buttonDiv {
    margin-left: 5.25rem;
    margin-top: -0.1875rem;
  }
  
  .servicesDiv {
    width: 100%;
    height: 29.5625rem;
    border: .125rem solid transparent;
    background-color: white;
    padding-right: 3.75rem;
  
  }
  
  .servicesDiv h1 {
    margin-top: 2.3125rem;
    font-size: 2.6875rem;
    font-weight: 600;
    color: #668e19;
  }
  
  .servicesDiv pre {
    margin-top: .6875rem;
    font-size: .9375rem;
    font-weight: 600;
    color: #cbc7c7;
  }
  
  .servicesBottomDiv {
    width: 100%;
    height: 17.6875rem;
    padding-top: 0rem;
    border: .125rem solid transparent;
    display: flex;
    gap: 1.25rem;
    padding-left: 4.9375rem;
  }
  
  .starCardDiv {
    position: relative;
    margin-top: 3.9375rem;
    height: 13.625rem;
    margin-left: 2.5rem;
    width: 17.5rem;
    margin-bottom: .625rem;
    border: .125rem solid transparent;
    border-radius: .5rem;
    text-align: center;
    background-color: #f2f2f2;
    transition: all 0.3s ease-in-out;
  
  
    &:hover{
      box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, 0.2);
      transform: scale(1.03);
    }
  }
  
  .roundstar {
    position: absolute;
    top: -2.375rem;
    left: 6.25rem;
    height: 4.8125rem;
    width: 4.8125rem;
    border: .125rem solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd19;
  }
  
  
  .starCardDiv h1 {
    font-size: 1rem;
    margin-top: 4.0625rem;
    font-weight: 600;
    color: black;
  }
  
  .starCardDiv pre {
    font-size: .875rem;
    margin-top: .3125rem;
    font-weight: 600;
    color: rgb(155, 154, 154);
    margin-bottom: 1.25rem;
  }
  
  .starCardDiv a {
    font-size: 1.125rem;
    font-weight: 600;
    color: #8ec63f;
  }
  
  .portfolioDiv {
    height: 45.6875rem;
    width: 100%;
    border: .125rem solid transparent;
    text-align: center;
    background-color: #212121;
  }
  
  .portfolioTopDiv{
    width: 100%;
    height: 12.5rem;
    border: .125rem solid transparent;
    text-align: center;
  }
  
  .portfolioTopDiv h1 {
    font-size: 2.8125rem;
    font-weight: 600;
    color: #668e19;
    margin-top: 2.1875rem;
  }
  
  .portfolioTopDiv pre {
    font-size: .875rem;
    font-weight: 600;
    color: #a4a4a4;
    margin-top: .625rem;
  }
  
  .portfolioTopDiv ul {
    border: .125rem solid transparent;
    height: 4.25rem;
    display: flex;
    gap: .875rem;
    justify-content: center;
    align-items: center;
  }
  
  .portfolioTopDiv ul li{
    list-style: none;
    display: inline-block;
  }
  
  .portfolioTopDiv ul li a {
    text-decoration: none;
    font-size: 1.1875rem;
    font-weight: 600;
    color: white;
  
    &:hover{
      color: #ff831e;
    }
  }
  
  .portfolioBottomDiv{
    width: 100%;
    height: auto;
    border: .125rem solid transparent;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
  }
  
  .portfolioBottomDiv .portCard{
    width: 14.5625rem;
    height: 14.5625rem;
    border: .125rem solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }
  
  .portCard:hover{
    background-color: #EF4136;
  }
  
  .c1{
    background-color: white;
  }
  .c2{
    background-color: #5e5e5e;
  }
  .c3{
    background-color: #d2d3d5;
  }
  .c4{
    background-color: #838383;
  }
  .c5{
    background-color: white;
  }
  .c6{
    background-color: #a3a3a3;
  }
  .c7{
    background-color: #d2d3d5;
  }
  .c8{
    background-color: white;
  }
  .c9{
    background-color: #838383;
  }
  .c10{
    background-color: #5e5e5e;
  }
  .processdiv{
    width: 100%;
    height: 31.875rem;
    border: .125rem solid transparent;
    text-align: center;
  }
  
  .processdiv  h1{
    
      font-size: 2.75rem;
      font-weight: 600;
      color: #668e19;
      margin-top: 4.875rem;
    }
    .processdiv pre{
      font-size:.875rem;
      font-weight: 600;
      color: #a4a4a4;;
      margin-top: .625rem;
      margin-bottom: 2.4375rem;
    }
    .processiconsdiv{
      width: 72.6875rem;
      height: 15.4375rem;
      border: .125rem solid transparent;
      margin: auto;
      display: flex;
      gap: 2.9375rem;
      overflow: hidden;
  
    }
   .processiconsdiv .icondiv{
    width: 9.8125rem;
    height: 100%;
    border: .125rem solid transparent;
   }
   .processiconsdiv .icondiv .circlediv{
    margin: auto;
    width: 9.0625rem;
    height: 9.0625rem;
    border-radius: 50%;
    border: .25rem solid #d1d2d4;
    margin-top: .8125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
   }
  
   .processiconsdiv .icondiv .circlediv::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    height: .25rem;
    width: 4rem;
    background-color: #d1d2d4;
   }
  
   .countrounddiv{
    position: absolute;
    top: -1.1875rem;
    margin: auto;
    height: 2.1875rem;
    width: 2.1875rem;
    border-radius: 50%;
    border: .125rem solid transparent;
    background-color: #febd19;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.375rem;
    font-weight: 600;
   }
   .icondiv h1{
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1.1875rem;
    color: #484646;
   }
  
   .icondiv pre{
    font-size: .875rem;
  
    margin-top: 1rem;
   }
  .aboutdiv{
    width: 100%;
    height: 33.75rem;
    border: .125rem solid transparent;
    text-align: center;
  }
  .aboutdiv h1{
    
    font-size: 2.75rem;
    font-weight: 600;
    color: #668e19;
    margin-top: 2.25rem;
    background-color: #f2f2f2;
  }
  .aboutdiv pre{
    font-size:.875rem;
    font-weight: 600;
    color: #a4a4a4;;
    margin-top: .625rem;
    margin-bottom: 2.4375rem;
  }
  .peoplereviewsdiv{
  
    border: .125rem solid transparent;
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  
  }
  .peoplereviewsdiv .review{
    width: 36.625rem;
    height: 8.75rem;
    border: .125rem solid transparent;
    display: flex;
  }
  .peoplereviewsdiv .review .profilediv{
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
    border: .125rem solid transparent;
    margin-left: .9375rem;
    margin-top: .9375rem;
  
  
  }
  
  .profilediv img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .reviewrightdiv{
    height: 100%;
    width: 400px;
    margin-left: 20px;
    border: 2px solid transparent;
    text-align: left;
    
  }
  
  .reviewrightdiv h1{
    font-size: 1rem;
    font-weight: 600;
    color: #212121;
  
  }
  .reviewrightdiv pre{
    font-size:.875rem;
    font-weight: 600;
    color: #a4a4a4;
    margin-top: .625rem;
    
  }
  .skillsDiv {
    width: 100%;
    height: 30.625rem;
    border: .125rem solid transparent;
    text-align: center;
    background-color: white;
  }
  
  .skillsDiv h1 {
    margin-top: 2.5625rem;
    font-size: 2.6875rem;
    font-weight: 600;
    color: black;
  }
  
  .skillsDiv pre {
    margin-top: .875rem;
    font-size: .875rem;
    font-weight: 600;
    color: #bdbec1;
  }
  
  .circleProgessDiv {
    width: 60.9375rem;
    height: 15.9375rem;
    border: .125rem solid transparent;
    margin: auto;
    margin-top: 2.5rem;
    display: flex;
    gap: 4.0625rem;
  }
  
  .borderCircle {
    width: 10.75rem;
    height: 10.75rem;
    margin-top: .8125rem;
    margin-left: .875rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .topBorderCircle {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    position: absolute;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .innerBorderCircle {
    width: 8.125rem;
    height: 8.125rem;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.125rem;
    font-weight: 800;
  }
  
  .progressCard {
    width: 11.875rem;
    height: 100%;
    text-align: center;
    border: .125rem solid transparent;
  }
  
  .progressCard h1 {
    margin-top: 2.375rem;
    font-size: 1.125rem;
    font-weight: 600;
    color: black;
  }
  
  .contactDiv {
    width: 100%;
    height: 21.375rem;
    border: .125rem solid transparent;
    text-align: center;
    background-color: #8dc73f;
  }
  
  .contactDiv h1 {
    font-size: 3.875rem;
    font-weight: 600;
    margin-top: 2.875rem;
    color: white;
  }
  
  .contactInputDiv {
    width: 64.125rem;
    height: 4.1875rem;
    border: .125rem solid transparent;
    margin: auto;
    margin-top: 2.25rem;
    text-align: left;
    display: flex;
    gap: 1.5rem;
  }
  
  .contactInputDiv input {
    width: 15.3125rem;
    height: 3rem;
    border: none;
    padding-left: .75rem;
    font-size: 1.25rem;
    border-radius: .5rem;
  }
  
  .contactInputDiv button {
    width: 12.125rem;
    height: 3.0625rem;
    background-color: #febd19;
    font-weight: 600;
    font-size: 1.25rem;
    margin-left: .625rem;
    border-radius: .5rem;
    border: none;
    outline: none;
  }
  
  
  .contactDiv pre {
    margin-top: 1.4375rem;
    color: white;
    font-size: .875rem;
    font-weight: 600;
  }
  
  .contactUsDiv {
    width: 100%;
    height: 40.625rem;
    border: .125rem solid transparent;
    background-color: white;
    text-align: center;
  }
  
  .contactUsDiv h1 {
    margin-top: 2.5rem;
    font-size: 2.75rem;
    font-weight: 600;
  }
  
  .contactUsDiv pre {
    margin-top: .6875rem;
    font-size: .875rem;
    font-weight: 600;
    color: #bdbec1;
    margin-bottom: 1.25rem;
  }
  
  .mapH1 {
    width: 60.625rem;
    height: 2.625rem;
    border: .125rem solid transparent;
    margin: auto;
    display: flex;
  }
  
  .mapIcon {
    width: 2.5rem;
    height: 2.5rem;
    border: .125rem solid transparent;
  }
  
  .mapH1 p {
    text-align: left;
    margin-left: .625rem;
    margin-top: .625rem;
    font-size: 1.375rem;
    font-weight: 600;
  }
  
  .mapPhoneDiv {
    width: 51.25rem;
    height: 2.3125rem;
    border: .125rem solid transparent;
    margin: auto;
    text-align: left;
    display: flex;
    align-items: center;
  }
  
  .mapPhoneDiv p{
    font-size: 1.625rem;
    font-weight: 600;
  }
  
  .googleMap {
    width: 100%;
    height: 23.75rem;
    border: .125rem solid transparent;
    margin-top: 2.25rem;
  }
  
  .googleMap iframe{
    width: 100%;
    height: 100%;
  }
  
  
  footer {
    width: 166%;
    height: 22.9375rem;
    border: .125rem solid transparent;
    padding-top: 3.375rem;
    display: flex;
    background-color: #668e19;
  }
  
  .footerfirstDiv {
    width: 15rem;
    height: 18.75rem;
    border: .125rem solid transparent;
    margin-left: 87px;
  }
  
  .footerfirstDiv img {
    width: 9.375rem;
  }
  
  .footerfirstDiv p {
    margin-top: .8125rem;
    font-size: .875rem;
    font-weight: 600;
    color: white;
    line-height: 1rem;
  }
    
  .footerfirstDiv  .copyRight {
    margin-top: 3.75rem;
    font-size: 1.125rem;
    font-weight: 600;
    margin-left: .625rem;
  }
  
  .footerSecDiv {
    /* width: 13.25rem; */
    /* height: 15.6875rem; */
    width: 18.75rem;
    height: 18.75rem;
    border: .125rem solid transparent;
    display: flex;
    flex-direction: column;
    row-gap: 1.5625rem;
    border-right: .125rem solid #7bad2d;
  }
  
  .footerSecDiv h1 {
    margin-top: -0.3125rem;
    text-transform: uppercase;
    font-size: 1.625rem;
    color: white;
  }
  
  .footerSecDiv ul {
    display: flex;
    flex-direction: column;
    gap: .6875rem;
  }
  
  .footerSecDiv ul li {
    list-style: none;
    display: inline-block;
    margin-left: .125rem;
  }
  
  .footerSecDiv ul li a{
    color: white;
  }
  
  .footerSecDiv p {
    color: white;
    font-size: 1.125rem;
    margin-left: .625rem;
  }
  



  @media screen and (max-width: 768px) {
    .header{
      width: 166%;
      
    }.buttonDiv{
      margin-left: 40px;
    }
    .sliderImgDiv{
      width: 166%;
    }
    .adv_top{
      margin-left: 280px;
    }.aboutUs_Div{
      width: 166%;
    }.iconsDiv{
      margin-left: 22px;
    }.servicesTopDiv h1{
      margin-left: 520px;
    }
    .servicesTopDiv pre{
      margin-left: 350px;
    }
   .portfolioDiv{
    margin-top: 50px;
    width: 166%;
   }.processdiv h1{
    margin-left: 435px;
   }.processdiv pre{
    margin-left: 435px;
   }.icondiv{
    width: 169%;
    margin-bottom: 20px;
   }.aboutdiv{
    width: 166%;
   }.skillsDiv{
    width: 166%;
   }.progressCard{
    width: 166%;
   }.contactDiv{
    width: 166%;
   }.contactUsDiv{
    width: 166%;
   }.footerSecDiv {
    background-color: #668e19;
    margin-left: 400px;
   }.footerSecDiv{
    width: 266%;
   }
  }

